@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>Número de contatos cadastrados:</h2>
                <p class="display-4">-</p>
            </div>
        </div>
    </div>
</div>
